---
import { getCollection } from "astro:content"
const projects = await getCollection('projects')
---

<div class="card" >
    {
        projects.map(card=>{
            const {data} = card
            const {title, desc,img, tech} = data
            return(
                <div>
                    <h2>{title}</h2>
                    <p>{desc}</p>
                    <img src={`/${img}`} alt="" />
                    <p>{tech}</p>
                </div>
            )
        })
    }
</div>