---
import { getCollection } from "astro:content";
const projectsCard = await getCollection("projects")

---

<div class="card" >
    { 
        projectsCard.map(card=>{
            const {data} = card
            const {title, desc,img, tech} = data
            return(
            <div class="project-card" >
                    <h2>{title}</h2>
                    <img src={`${img}`} alt="imagen" style="height: 300px;"/>
                    <p>{desc}</p>
                    <p>{tech}</p>
            </div>
                
              
            )
        }) 
    }
</div>

<style>

    .card{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project-card{
        margin-left: 20px;
        color: #ffff;
        border-radius: 15px;
        padding: 20px;
        font-size: 15px;
        width: 300px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(29, 29, 29);
    }
    .card h2{
        color: #dbdbdb;
        font-weight: 600;
    }

    .card p{
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        color: #ffffffab;
    }
  
</style>